body{
  background: #343a40!important;
}
.nb-register{
	max-width:300px;
	margin:30px auto;
	background:rgba(255,255,255,0.2);
	padding:20px 25px;
	border-radius:2px;
	-webkit-box-shadow:0px 0px 10px rgba(255,255,255,0.05);
	box-shadow:0px 0px 10px rgba(255,255,255,0.05);
}
.nb-register h3{
	font-size:13px;
	line-height:13px;
	margin:15px 0px 25px 0px;
	text-transform:uppercase;
	color:#fff;
}
.nb-register form{
	margin-bottom:15px;
	color:#fff;
}
.nb-register form input,
.nb-register form textarea{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
	padding:6px 5px;
	color:#fff;
	border:0px;
	border-bottom:1px solid rgba(255,255,255,0.5);
	background:transparent;
	border-radius:0px;
}
.nb-register form input:focus,
.nb-register form textarea:focus{
  background: rgba(255,255,255,0.05);
}
.nb-register form ::-webkit-input-placeholder {
   color: rgba(255,255,255,0.5);
}
.nb-register form ::-moz-placeholder {
   color: rgba(255,255,255,0.5);
}
.nb-register form :-ms-input-placeholder {
   color: rgba(255,255,255,0.5);
}
.nb-register form .btn{
	border:0px;
	border-radius:25px;
	padding:10px 20px;
	border:1px solid rgba(255,255,255,0.5);
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
	background:transparent;
	margin-top:15px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.nb-register form .btn:hover{
	background:#fff;
	color:#666;
}
.nb-register .social a{
	display:block;
	margin-bottom:15px;
	color:#fff;
	padding:8px 20px;
	border-radius:25px;
	text-align:center;
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
  text-decoration: none;
}
.nb-register .social a:hover{
  opacity: 0.9;
}
.nb-register .social a.facebook{
  background: #3280e7;
}
.nb-register .social a.twitter{
  background: #32c8de;
}
.nb-register .social a.google-plus{
  background: rgb(208, 44, 0);
}
.nb-register .center{
  text-align: center;
}
.nb-register .or{
  color: #FFF;
}